:root {
  --neutral--black: #1C1C1C;
  --neutral--gray: #9E9E9E;
  --neutral--gray-light: #DFDFDF;
  --neutral--gray-lightest: #F0F0F0;
  --neutral--white: #FFFFFF;

  --shadow-lightest: 0px 1px 2px 0 #00000033;
  --shadow-light: 0px 2px 4px 0 #00000033;
  --shadow-normal: 0px 2px 8px 0px #00000033;

  --gradient--primary: linear-gradient(0deg, rgba(89,78,210,1) 0%, rgba(90,132,192,1) 100%);
}