:root {
  --spacing-medium--largest: 5rem;    /* 80px */
  --spacing-medium--large: 3.75rem;   /* 60px */
  --spacing-medium--normal: 2.5rem;   /* 40px */
  --spacing-medium--small: 2rem;      /* 32px */

  --spacing-regular--large: 1.75rem;  /* 28px */
  --spacing-regular--normal: 1.25rem; /* 20px */
  --spacing-regular--small: 1rem;     /* 16px */

  --spacing-little--normal: .5rem;    /* 8px */ 
  --spacing-little--small: .25rem;    /* 4px */
}